<h1>Student#index</h1>
<br>
<h1> Student Buzz <h1>


<%= form_with scope: :discussion, local: true do |form| %>
  <h6>
    <%= form.label :subject %><br>
    <%= form.text_field :title %>
  </h6>
 
  <h6>
    <%= form.label :body %><br>
    <%= form.text_area :text %>
  </h6>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>


<p>
  <strong>Subject:</strong>
  <%= @student.subject %>
</p>
 
<p>
  <strong>Body:</strong>
  <%= @student.body %>
</p