<!DOCTYPE html>
<html>
  <head>
    <title>Hamitonian Rails University</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('hamilrails_logo.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
  <h3>
    <ul id='navbar'>
      <li><a href='/'>Home<a/></li>
      <li><a href='/welcome/about'>About<a/></li>
      <li><a href='/welcome/applications'>Application<a/></li>
      <li><a href='/welcome/tuition'>Tuition<a/></li>
      <li class='logOrSign'><a href='/sign_up'>Sign up<a/></li>
      <li class='logOrSign'><a href='/log_in'>Log in<a/></li>
    </ul>
  </h3>
    <%= yield %>
  </body>
</html>


        <% if signed_in? %>
          <span><%= current_user.email %></span>
          <%= link_to 'Sign out', sign_out_path, method: :delete %>
        <% else %>
          <%= link_to 'Log in', sign_in_path %>
        <% end %>
      </li>      
      <li class="logOrSign">
        <% if signed_in? %>
          Signed in as: <%= user.email %>
          <%= button_to 'Sign out', sign_out_path, method: :delete %>
        <% else %>
         <li class='logOrSign'> <%= @users.first</li>
        <% end %>
      </li>