<!DOCTYPE html>
<html>
  <head>
    <title>Hamitonian Rails University</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('hamilrails_logo.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
   <h1 class='college'>RailsKings College</h1>
  <h3>
    <ul id='navbar'>
      <li><a href='/'>Home<a/></li>
      <li><a href='/welcome/about'>About<a/></li>
      <li><a href='/welcome/applications'>Application<a/></li>
      <li><a href='/welcome/tuition'>Tuition<a/></li>
      <li class='logOrSign'><%= link_to 'Sign up', sign_up_path %></li>
      <li class='logOrSign'><%= link_to 'Log in', sign_in_path %></li>
    </ul>
  </h3>
    <%= yield %>
  </body>
</html>

